/* html { margin-right: calc(100vw - 100%);} */
html {
    height: 100%;
	scroll-behavior: smooth;
}
:root{
	--width:1200px;
	--header:75px;
	--page:900px;
}

body{
	background-color: #fffffb;
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

.bg {
    background: #f5f5f5;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wrap{
	width:100%;
	height:100%;
}

#container{
	position: relative;
	min-height: 100%;
	width: 100vw;
	overflow: hidden;
}

#header{
	height: var(--header);
	width:100vw;
	margin-bottom: calc(-1 * var(--header));
	z-index: 110;
	background-color: #fff;
	position: relative;
}
#logo{
	float: left;
    height: var(--header);
}
#logo a{
	margin: 13px 0 0 20px;	
	background-image: url(/icon.svg);
	width:calc(var(--header)/1.5);
	height:calc(var(--header)/1.5);
	background-size: calc(var(--header)/1.5) calc(var(--header)/1.5);
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#content{
	position: relative;
	padding:var(--header) 0 406px;
	height: 100%;
}

.detail_bg{
	background-color: #1b2228;
	background-image: url("bg.jpg");
	position: absolute;
    top: var(--header);
    left: 0;
    width: 100%;
    height: 321px;
}

.cont_box{
	position: relative;
    z-index: 10;
    max-width: var(--width);
    margin: 0 auto;
	height: 100%;
}
.detail_header{
	position: relative;
    z-index: 20;
    height: 240px;
    text-align: center;
}

.detail_header .thmb{
    position: absolute;
    top: 0;
    left: 0;
}

.detail_header .info {
    display: inline-block;
    position: relative;
    max-width: 1196px;
	width:100%;
	text-align: center;
    vertical-align: middle;
	font-family: Arial;
}
.detail_header .info .genre{
    margin-top: 2px;
    font-size: 20px;
    line-height: 21px;
    font-weight: 400;
	color: #fff;
	margin: 0;
    padding: 0;

	font-family: cm, Arial;
}
.detail_header .info .title{
	padding-top: 5px;
    font-size: 57px;
    line-height: 57px;
    font-weight: 400;
    color: #fff;
	margin: 0;
    padding: 0;

	font-family: cm, Arial;
}
.detail_header .info .author{
	margin-top: 30px;
    position: relative;
    color: #fff;
    display: inline-block;
}


.detail_header .valign {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.detail_header .action{
	position: absolute;
    right: 0;
    bottom: 10px;
}

.detail_header .action ul{
	list-style:none;
	position: relative;
    z-index: 50;
    vertical-align: top;
}
.detail_header .action li {
	cursor:pointer;
	list-style:none;
    float: left;
    margin: 0 6px;
	background-color: white;
	border-radius: 18px;
	width:36px;
	height:36px;
	padding: 6px;
	box-sizing: border-box;
}


.detail_body {
    overflow: hidden;
    position: relative;
    z-index: 10;
    min-height: 839px;
	height: 100%;
    margin-bottom: 70px;
    background: #fff;
}

.markdown{
	max-width: var(--page);
    float: left;
	position: relative;
	box-sizing: border-box;
	padding: 10mm;
	background-color: #fff;
	font: 18px/24px cm, Times New Roman;
}
.aside{
    float: right;
	position: relative;
    width: calc(1200px - var(--page));
    height: 100%;
    padding: 43px 0 316px 40px;
    margin-left: -2px;
    border-left: 2px solid #f5f5f5;
	box-sizing: border-box;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.8); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


@media only screen and (max-width: 1199px) {
	:root{
		--header:50px;
	}
	.aside, .thmb{
		display:none;
	}
	.detail_header .info{
		top:20%;
	}
	.detail_header .info .title{
		font-size: 45px;
		line-height: 45px;
	}
	.markdown{
		position: relative;
		box-sizing: border-box;
		padding: 10px 20px;
		background-color: #fff;
		font: 17px/20px cm, Times New Roman;
	}
}